<%- include ('partials/homenavbar.ejs') %>
<%- include ('partials/header.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Trilha - the game</h1>
              <p class="lead">Esta é a tela inicial do projeto do game trilha.</p>
              <p class="lead">Registre-se gratuitamente <a href="/admin/users/create"> clicando aqui</a></p>
            </div>
          </div>
          <a class="navbar-brand" href="/"> <img src="https://staticz.novelgames.com/multiplayerflashgames/mpninemensmorris/screenshot_600x400.png" >
</body>

<%- include ('partials/footer.ejs') %>